.mac {
  &-container {
    position: relative;
    display: flex;
    height: 100%;
    background-image: url('https://s1.ax1x.com/2018/12/19/FDAJv4.jpg');
    background-size: cover;
    animation: fade 0.2s ease-in;
    
    &-file {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 300px;
      height: 90%;
    }

    a {
      text-decoration: none;
    }

    .rec {
      &-container {
        display: flex;
        flex: 1;
        justify-content: flex-end;
      }
    }
  }
}