.mac {
  &-container {
    position: relative;
    height: 100%;
    background-image: url('../../static/mac-bg-zip.jpg');
    background-size: cover;
    animation: fade 0.2s ease-in;
    
    &-file {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100px;
      height: 90%;
    }

    a {
      text-decoration: none;
    }
  }
}