.mac-bottom {
  &-container {
    position: absolute;
    bottom: 0;
    width: 100%;

    &:hover {
      .mac-bottom-main {
        transform: translateY(0);
      }
    }
  }

  &-main {
    width: 600px;
    height: 50px;
    background: rgba(255,255,255,0.7);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px 20px;
    margin: 0 auto;
    transform: translateY(100px);
    transition: all .3s linear;

    .icon {
      width: 48px;
      height: 48px;
      cursor: pointer;
      margin: 0 20px;
    }
  }
}